<section class="well well4 bg1 wow fadeIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
    <h2 class="intro-text text-center">Cursos
        <strong>DISPONÍVEIS</strong>
    </h2>
    <hr class="light">
</section>

<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="caption bg3">
            <h2 class="intro-text text-center">
                <strong>PROFISSIONALIZANTES</strong>
            </h2><hr class="light"><center>
            <%= link_to 'Atendente de Farmácia', ouro_preto_profissionalizantes_atendente_farmacia_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Auxiliar Administrativo', ouro_preto_profissionalizantes_aux_adm_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Auxiliar de Veterinário', ouro_preto_profissionalizantes_aux_vet_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Barbeiro', ouro_preto_profissionalizantes_barbeiro_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Cabelereiro', ouro_preto_profissionalizantes_cabelereiro_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Estética Facial e Corporal', ouro_preto_profissionalizantes_estetica_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Garçom e Garçonete', ouro_preto_profissionalizantes_garcons_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Inglês para atendimento ao Cliente', ouro_preto_profissionalizantes_ingles_cliente_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Mecânica de Motos', ouro_preto_profissionalizantes_mec_moto_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Montagem e Manutenção de Computadores', ouro_preto_profissionalizantes_manutencao_de_computadores_index_path, :class => 'btn btn-lg btn-warning' %><%= link_to 'Organização de Eventos', ouro_preto_profissionalizantes_aux_vet_index_path, :class => 'btn btn-lg btn-warning' %></center>
        </div>
    </div>
</section>
<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="caption bg3">
            <p>
            <h2 class="intro-text text-center">
                <strong>INFORMÁTICA</strong>
            </h2><hr class="light"></p><center>
            <%= link_to 'Informática Completo', ouro_preto_cursos_de_informatica_informatica_completo_index_path, :class => 'btn btn-lg btn-primary' %></center>
        </div>
    </div>
</section>
<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="caption bg3">
            <p>
            <h2 class="intro-text text-center">
                <strong>TECNOLOGIA DIGITAL</strong>
            </h2><hr class="light"></p><center>
            <%= link_to 'Criação e Edição de Videos', ouro_preto_tecnologia_digital_criacao_edicao_videos_index_path, :class => 'btn btn-lg btn-primary' %><%= link_to 'Web Design Profissional', ouro_preto_tecnologia_digital_web_design_index_path, :class => 'btn btn-lg btn-primary' %><%= link_to 'Desenvolvedor de Jogos', ouro_preto_tecnologia_digital_desenvolvedor_jogos_index_path, :class => 'btn btn-lg btn-primary' %><%= link_to 'Design Gráfico', ouro_preto_tecnologia_digital_design_grafico_index_path, :class => 'btn btn-lg btn-primary' %><%= link_to 'Fotografia Digital', ouro_preto_tecnologia_digital_fotografia_digital_index_path, :class => 'btn btn-lg btn-primary' %><%= link_to 'Programador Desktop', ouro_preto_tecnologia_digital_programador_desktop_index_path, :class => 'btn btn-lg btn-primary' %><%= link_to 'Programador Full Web e Mobile', ouro_preto_tecnologia_digital_programador_full_web_mobile_index_path, :class => 'btn btn-lg btn-primary' %></center>
        </div>
    </div>
</section>
<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="caption bg3">
            <p>
            <h2 class="intro-text text-center">
                <strong>FORMAÇÃO</strong>
            </h2><hr class="light"></p><center>
            <%= link_to 'Auxiliar de Saúde Bucal', ouro_preto_formacao_aux_saude_bucal_index_path, :class => 'btn btn-lg btn-primary' %></center>
        </div>
    </div>
</section>
<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="caption bg3">
            <p>
            <h2 class="intro-text text-center">
                <strong>SUPER KIDS</strong>
            </h2><hr class="light"></p><center>
            <%= link_to 'Informática', ouro_preto_super_kids_informatica_index_path, :class => 'btn btn-lg btn-danger' %><%= link_to 'Inglês', ouro_preto_super_kids_ingles_index_path, :class => 'btn btn-lg btn-danger' %></center>
        </div>
    </div>
</section>
<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="caption bg3">
            <p>
            <h2 class="intro-text text-center">
                <strong>SUPER IDADE</strong>
            </h2><hr class="light"></p><center>
            <%= link_to 'Informática', ouro_preto_super_idade_informatica_index_path, :class => 'btn btn-lg btn-success' %><%= link_to 'Inglês', ouro_preto_super_idade_ingles_index_path, :class => 'btn btn-lg btn-success' %></center>
        </div>
    </div>
</section>
