<section class="well well1 well1_ins1">
    <div class="container center991">
        <p id="notice"><%= notice %></p>
        <br>
        <h2><i class="glyphicon glyphicon-log-in"></i>Pre-cadastro realizado com sucesso!<br></h2>
        <p>
        <strong>Senhor(a)</strong><h3><%= @ouro_preto_cadastro.nome %></h3>,<br>
        <strong>lhe enviaremos um email no segunte endereço:</strong><h3><%= @ouro_preto_cadastro.email %>.</h3><br>
        <strong>Também lhe retornaremos pelo número:</strong><h3><%= @ouro_preto_cadastro.telefone %></h3><strong>(com a possibilidade de contato pelo whatsapp).<br>
        Vá até a nossa unidade da Praça Tiradentes para a finalização do seu cadastro<br> no nosso curso de:<h3><%= @ouro_preto_cadastro.curso %>.</h4></h3><strong></p>
    </div>
</section>
