<section class="well well1 well1_ins1 backg">
    <div class="container center991 backg">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="thumbnail thumb-shadow">
            <%= link_to ouro_preto_cursos_index_path do %>
               <%= image_tag "superidade.jpg", :class => "img-responsive img-full" %>
            <% end %>
            <div class="caption bg3">
              <h3>
                <center>SUPER IDADE</center>
              </h3>
              <div class="wrap">
                <p>
                  Maior independência no uso do computador dentro de seu cotidiano.
                </p>
                <a><%= link_to '(saiba mais)', ouro_preto_cursos_index_path, :class => 'img-responsive' %></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="thumbnail thumb-shadow">
            <%= link_to ouro_preto_cursos_index_path do %>
              <%= image_tag "profissionalizantes.jpg", :class => "img-responsive img-full"  %>
            <% end %>
            <div class="caption bg3">
              <h3>
                <center>MERCADO DE TRABALHO</center>
              </h3>
              <div class="wrap">
                <p class="thumb_ins1">
                  Proporcionar a população acesso à cursos profissionalizantes de alta qualidade com preço acessível.
                </p>
                <a><%= link_to '(conheça)', ouro_preto_cursos_index_path, :class => "img-responsive img-full" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row wow fadeIn" data-wow-duration='2s'>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="thumbnail thumb-shadow">
            <%= link_to ouro_preto_formacao_aux_saude_bucal_index_path do %>
              <%= image_tag "asb.jpg", :class => "img-responsive img-full"  %>
            <% end %>
            <div class="caption bg3">
              <h3>
                <center>ASB</center>
              </h3>
              <div class="wrap">
                <p>
                  O Auxiliar em Saúde Bucal (ASB) é o profissional que auxilia os dentistas nos consultórios dentários.
                </p>
                <a><%= link_to '(cadastre-se)', ouro_preto_cursos_index_path, :class => "img-responsive img-full" %></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="thumbnail thumb-shadow">
            <%= link_to ouro_preto_cursos_index_path do %>
              <%= image_tag "interativo.jpg", :class => "img-responsive img-full"  %>
            <% end %>
            <div class="caption bg3">
              <h3>
                <center>SUPER INTERATIVOS</center>
              </h3>
              <div class="wrap">
                <p>
                  Aulas expositivas que são conciliadas com a prática, além de visitas técnicas e estágio supervisionado. .
                </p>
                <a><%= link_to '(saiba mais)', ouro_preto_cursos_index_path, :class => "img-responsive img-full" %></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="thumbnail thumb-shadow">
            <%= link_to ouro_preto_cursos_index_path do %>
              <%= image_tag "universitarios.jpg", :class => "img-responsive img-full"  %>
            <% end %>
            <div class="caption bg3">
              <h3>
                <center>TECNOLOGIA DIGITAL</center>
              </h3>
              <div class="wrap">
                <p>
                  Aulas planejadas de forma personalizada, onde o estudante foca no ponto em que tem mais necessidade educacional.
                </p>
                <a><%= link_to '(fique por dentro)', ouro_preto_cursos_index_path, :class => "img-responsive img-full" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
