<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cadastro Realizado</h1><br>
    <h3>Curso: <%= @superar.curso %> <br>
    <h3>Aluno da escola?: <%= @superar.aluno %> <br>
    <h2>Nome: <%= @superar.nome %>.</h2><br>
    <br>
    <p><h2>Dados: </h2><br>
    <h3>Telefone/Celular: <%= @superar.telefone %> <br>
    Email: <%= @superar.email %> <br>
    </p><br>
  </body>
</html>
